.logo {
  --width: 92px;
  --height: 70px;

  --fill: #f9f8f8;

  margin-top: 10px;
}


@media (max-width: 768px) {
  .logo {
    width: 40px;
  }
}

.icon {
  -webkit-text-stroke: 1.5px #f9f8f8;
}

.color {
  background-color: #1E90FF;
}
